thonny
pyserial>=3.5
esptool>=4.0
jedi>=0.19.0
parso>=0.8.0
packaging>=23.0
docutils>=0.19
send2trash>=1.8.0
asttokens>=2.2.1
adafruit-board-toolkit>=1.1.0
jedi>=0.19.0
# Standalone Qt5 applications (includes Qt Designer with its own runtime)
qt5_applications
